article {margin-top: 1em;}

div.recent-posts-summary p {
  font: 1em/1.6em 'PT Serif', Georgia, 'Times New Roman', Times, Serif;
  text-align: justify;
  margin-top: 0.5em;
  color: #8F8F8F;
}

article small {
  display:block;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.article-content img {
  display: block;
  margin: 0 auto;
}